body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 10px 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-bar li {
  margin-right: 15px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-bar a:hover {
  color: #ffc107;
}

#selected{
    color: #5762D5 ;
}
