body {
  font-family: 'Arial', sans-serif;
  background-color: #fff; /* Set initial background color */
  color: #000; /* Set initial text color */
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(26, 115, 232);
  padding: 10px 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
}

.nav-bar {
  margin: 5px;
  margin-left:20px;
  display: flex;
  align-items: center;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-bar li {
  margin-right: 15px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-bar a:hover {
  color: #000000;
  text-decoration: underline;
}

#selected{
    color: #00ff9e ;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(26, 115, 232);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
  background-color: rgb(26, 115, 232);
  color: white;
  padding: 10px 20px;
  text-align: center;

}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;  
  
}

footer a {
	text-decoration: none;
	margin: 5px;
	color: white;
	width: auto;	
}

#Digital_India_img {
	margin: 10px ;
	width: 200px;
	height: 100px;
}

#Smart_India_Hackathon_2022_img {
	margin: 10px ;
	width: 200px;
	height: 100px;
}

@media (max-width:750px){
	header {width:100%;}
	footer {width:100%;}
	footer p, a {font-size: 5px;}
	#Digital_India_img {width: 50px;height: 25px;}	
}
	 